<li class='item'>
  <div class='meta'>
    {{ partial "list/date" . }}
  </div>
  <header class='item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
	      {{- .Title -}} {{ if .Draft }} <b>(draft)</b> {{end}}
      </a>
    </h3>
  </header>
</li>
