{{ $sassTemplate := resources.Get "stylesheets/style.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style.scss" . | resources.ToCSS }}

<link rel='icon' href='{{ ( or .Site.Params.assets.favicon "favicon.ico" ) | relURL }}'>
<link rel='stylesheet' href='{{ $style.Permalink }}'>

{{- if .Site.Params.settings.rtl -}}
  <link rel='stylesheet' href='{{ print "/assets/css/" .Site.Data.assets.rtl.css | relURL  }}'>
{{- end -}}

{{- range .Site.Params.assets.customCSS -}}
  <link rel='stylesheet' href='{{ . | relURL }}'>
{{- end -}}

{{- partial "head/css" . -}}

{{- partial "head/analytics" . -}}
