{{if $.Params.authors }}

  {{- with .Params.authors | default $.Site.Params.defaulAuthor -}}

  {{- $lang := ( $.Params.lang | default $.Lang ) -}}

   <span class='byline'>
    {{- partial "svg/icons" "author" -}}
    <span class='screen-reader-text'> {{ i18n "by" }} </span>

    {{- range $i, $authorID := . -}}
    {{- $author := ( index $.Site.Data.authors $authorID ) -}}
    {{- $i18nAuthor := ( index $author $lang ) -}}
    {{- $name := ( or $i18nAuthor.name $author.name ) -}}
    {{- if gt $i 0 }}, {{ end -}}
    <a href='{{ ( print "authors" "/" $author.id ) | relLangURL }}'>
      {{- $name.display -}}
    </a>
    {{- end -}}
  </span>

  {{- end -}}	

{{ else }}
   
  {{- with .Params.author | default $.Site.Params.defaulAuthor -}}

  {{- $lang := ( $.Params.lang | default $.Lang ) -}}

   <span class='byline'>
    {{- partial "svg/icons" "author" -}}
    <span class='screen-reader-text'> {{ i18n "by" }} </span>

    {{- $author := ( index $.Site.Data.authors (trim . " ") ) -}}
    {{- $i18nAuthor := ( index $author $lang ) -}}
    {{- $name := ( or $i18nAuthor.name $author.name ) -}}

    <a href='{{ ( print "authors" "/" $author.id ) | relLangURL }}'>
      {{- $name.display -}}
    </a>

  </span>

  {{- end -}}	

{{end}}
