{{/* @@ 1:{{ .Date }} || 2:{{ $.Page.Params.LastMod }} || 3:{{ $.Page.Params.PublishDate }} @@ */}}

{{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
<span class='posted-on'>
  {{- partial "svg/icons" "calendar" -}}
  <span class='screen-reader-text'>{{ i18n "postedOn" }} </span>
  <time class='entry-date' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
    {{- .Date.Format $dateFormat -}}
  </time>
</span>

{{ $tmod := (time $.Page.Params.PublishDate ) }}
{{ if $tmod.Equal $.Date }}

{{ else }}
<span class='screen-reader-text'>{{ i18n "Updated" }} </span>
<span class='posted-on'>
  {{- partial "svg/icons" "edit" -}}
  <span class='screen-reader-text'>{{ i18n "postedOn" }} </span>
  <time class='entry-date' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
    {{- dateFormat ( or $.Site.Params.dateFormat "2006, Jan 02" ) $.Page.Params.PublishDate -}}
  </time>
</span>
{{  end }}
